.bg-auth-register{
  background-image: url("../../assets/bg_login_nigth.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
